<div class="container">
  <div class="row justify-content-md-center">
    <h1>Stupid Coaching</h1>
  </div>

  <div class="row justify-content-md-center">
    <%= @question %>
  </div>

  <div class="row justify-content-md-center">
    <strong><%= @answer %></strong>
  </div>

    <!--
    <link rel="stylesheet" href="http://localhost:3000/ask"> -->
  <div class="row justify-content-md-center">
    <a href="http://localhost:3000/ask">Ask a new question</a>
  </div>
</div>

