
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>Stupid Coaching</h1>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <form class="form-inline" action="/answer" method="get">
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" name="user_question" placeholder="What is your question?">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Ask!</button>
    </form>
  </div>
</div>


